@model DouMerch.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
<div style="height:80px" class="col-md-12"></div>
@if (ViewData["Warning"] != null)
{
    <div class="alert alert-warning alert-dismissable">
        <text>@ViewData["Warning"]</text>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
}
<div class="container col-md-offset-4 login-page">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Please enter e-mail" })<br />
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password" })<br />
        <input id="btnLogin" type="submit" class="form-control btn-info btn-md" value="Log in" /><br />
        <a href="/User/NewUser"><input id="btnNew" type="button" class="form-control btn-danger btn-md" value="Sign Up" /></a>
    }

</div>
